body {
background: pink;
margin: auto;
max-width: 900px;
}
#title {
color: green;
text-align: center;

}

.subtitle {
	color: red;
	margin:30px;
}

.post_title {
color: blue;
	margin:30px;
font-size: 16px;
font-style: italic;
}

.post {
background: #fff;
padding:10px 5px;

border:3px dotted green;
border-radius: 30px;
margin:10px;
text-align: justify;
}

ul {
list-style-type: "\1F44D";
}
